body{
    margin: 0;
    font-family: 'Syne', sans-serif;
    font-family: "ALK Life", sans-serif;
    padding: 0;
}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #303841;
}
.background{
    position: absolute;
    width: 50%;
    top: 0;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.background img{
    max-height: 60%;
    max-width: 60%;
    border-radius: 50%;
}
.left-column{
    width: 50%;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.left-column h1{
    color: #be3144;
    ;
}
.left-column p{
    width: 530px;
    margin-top: 20px;
    color: #fff;
    letter-spacing: 1px;
}
.nav {
    /* background-color: #0d1e47; */
    position: fixed;
    top: 0;
    left: 0%;
    right: 15%;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    background-color: #be3144;
    z-index: 9999;
}
.nav i{
    color: #fff;
}
.nav-links a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    font-size: 21px;
    letter-spacing: 2px;
}
.contact{
    margin-right: 300px;
}
#active{
    color: #303841;
}
.language {
    display: flex;
    justify-content: center;
    align-items: center;
}
.language p{
    margin-right: 20px;
    color: #fff;
}
.language p:hover {
    color: #303841;
}
.language select{
    border-radius: 50px;
    width: 50px;
    height: 30px;
}
.nav-links a:hover{
    color: #303841;
}
.nav i:hover{
    color: #303841;
}

.title{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #fff; */
    font-size: 30px;
    width: 300px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.block1{
    position: absolute;
    /* opacity: 0.3; */
    top: 0;
    z-index: 2;
    left: 0;
    background: #be3144;
    width: 100%;
    height: 100%;
    height: 60px;
    animation: firstBlock 1s cubic-bezier(.74, .06, .4, .92) forwards;
}
@keyframes firstBlock{
    0%{
        width: 0%;
        left: 0;
    }
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}
.role{
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #fff; */
    font-size: 30px;
    width: 350px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.block2{
    position: absolute;
    /* opacity: 0.3; */
    top: 0;
    left: 0;
    z-index: 2;
    background: #fff;
    /* width: 100%; */
    height: 100%;
    height: 60px;
    animation: secondBlock 1s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 1s;
}
@keyframes secondBlock{
    0%{
        width: 0%;
        left: 0;
    }
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}
.title p{
    opacity: 0;
    animation: text1 1s forwards;
    animation-delay: 0.5s;
    font-weight: 700;
    color: #be3144;
}
@keyframes text1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.role p{
    opacity: 0;
    animation: text2 1s forwards;
    animation-delay: 1.5s;
    font-weight: 700;
    color: #fff;
}
@keyframes text2{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.portfolio{
    width: 100%;
    /* height: 600px; */
    display: flex;
    justify-content: center;
    align-content: center;
    /* flex-direction: column; */
    background-color: #45567d;
}
.portfolio-wrap{
    width: 80%;
}
.projects{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
    justify-items: center;
    margin-top: 50px;
}

.project-img img{
    width:380px;
    height: 322.18px;
}

.project-img-text{
    border: 1px solid #303841 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
    background-color: #303841;
}
.project a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.portfolio-title {
    font-size: 35px;
    color: #fff;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project{
    -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.75);
}

.show-all{
    margin: 60px 0px 60px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    font-size: 20px;
    background-color: #303841;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
}

.text a{
    text-decoration: none;
    color: #fff;
    transition: 0.4s ease-in-out;
}
.text a:hover{
    font-size: 22px;
    letter-spacing: 1px;
}

.tech-skills-wrapper{
    position: relative;
    background-color: #303841;
    width: 100%;
    display: flex;
    justify-content: center;
}
.tech-skills-content{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50%;
}
.tech-title{
    text-align: center;
}
.techh1 {
    font-size: 54px;
    letter-spacing: 2px;
    color: #be3144;
    position: relative;
    z-index: 3;
}
.tech-title p{
    font-size: 21px;
    margin-top: 10px;
    letter-spacing: 1px;
    color: #727878;
    margin-bottom: 40px;
    border-bottom: 1px solid #727878;
    padding: 5px;
}
.skill{
    font-size: 20px;
    margin: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

.made-of p{
    margin: 30px;
    font-style: italic;
    color: #727878;
    text-align: center;
    letter-spacing: 2px;
}

.github-project a{
    padding: 10px;
    border: 1px solid #be3144;
    text-decoration: none;
    color: #be3144;
    border-radius: 20px;
    background-color: #303841;
    font-size: 20px;
    margin-bottom: 15px;
}

.github-project {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #727878;
}
.github-project a:hover {
    background-color: #283338;
}

.fa-html5, .html5{
    color: #e34c26;
}

.fa-css3-alt, .css3{
    color: #264de4;
}
.fa-js-square{
    color: #f0db4f;
}
.fa-react, .react{
    color: #61dbfb;
}
.fa-bootstrap, .boot{
    color: #7c52ba;
}
.fa-adobe, .photoshop{
    color: #8bc3fc;
}
.skill p{
    margin-bottom: 30px;
    font-size: 30px;
    color: #be3144;
}
.languages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.languages p{
    font-size: 25px;
    color: #be3144;
    margin: 30px;
}
.lan{
    margin: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lan span{
    margin: 3px;
    color: #cbcbcb;
}
.custom-shape-divider-bottom-1600071666 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1600071666 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 121px;
}

.custom-shape-divider-bottom-1600071666 .shape-fill {
    fill: #45567D;
}
.custom-shape-divider-top-1600071717 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1600071717 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 121px;
}

.custom-shape-divider-top-1600071717 .shape-fill {
    fill: #45567D;
}
.custom-shape-divider-bottom-1600074794 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1600074794 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 146px;
}

.custom-shape-divider-bottom-1600074794 .shape-fill {
    fill: #45567D;
}
.contact-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45567d;
    width: 100%;
    border-bottom: 10px solid #be3144;
}
.contact-content{
    margin-top: 40px;
    margin-bottom: 40px;
}
.contact-text{
    text-align: center;
}
.contact-text h1{
    font-size: 40px;
    margin-bottom: 15px;
    color: #be3144;
}
.contact-text p{
    font-size: 21px;
    width: 800px;
    margin-bottom: 15px;
    color: #96a3a3;
}
.contact-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.icon{
    text-align: center;
    font-size: 23px;
    transition: 1s;
    padding: 10px;
}

.icon a{
    text-decoration: none;
}
.fb, .mob{
    color: #5c9ced;
}
.git, .mail, .cv{
    color: #211f1f;
}
.icon p{
    letter-spacing: 1px;
}
.icon:hover {
    -webkit-box-shadow: 0px 0px 34px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 34px 11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 34px 11px rgba(0,0,0,0.75);
    border-radius: 10px;
}

footer > p {
    margin: 2rem;
    font-size: 18px;
}
  
footer i {
    vertical-align: middle;
}

footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #45567d;
}
#georgian{
    display: none;
}