header{
    width: 100%;
    height: 100vh;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header h1{
    font-size: 63px;
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.35);
    padding-bottom: 20px;
    margin-bottom: 10px;    
}
header p{
    font-size: 28px;
    color: #fff;
}
.header-content{
    text-align: center;
    position: relative;
    z-index: 1;
}
.overlay{
    background-color: #22A39F;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.75;
}
.scroll-down{
    background-color: #222222;
    position: absolute;
    width: 110px;
    height: 80px;
    bottom: 0;
    right: 7%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll-down i{
    color: #fff;
    font-size: 50px;
    animation-name: arrow;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes arrow{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}