@media all and (max-width:1280px){
    .profile-content{
        max-width: 70%;
        padding: 40px 0px;
    }
    .projects-content{
        max-width: 70%;
        padding: 40px 0px;
    }
    .contact-content{
        max-width: 70%;
        padding: 40px 0px;
    }
    .abilities-content{
        max-width: 70%;
        padding: 40px 0px;
    }
    .projects{
        width: 70%;
    }
    .skills{
        width: 70%;
        grid-template-columns: auto;
    }
    .contact-skills {
        grid-gap: 0;
    }
    .project img{
        width: 300px;
        height: 200px;
    }
    .about-me{
        grid-template-areas: unset;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;
        width: 70%;
    }
    .left{
        grid-area: unset;
    }
    .center{
        grid-area: unset;
    }
    .right{
        grid-area: unset;
        margin-left: 20px;
    }
    .buy-bear{
        grid-area: unset;
    }
    .left p, .about-right-p{
        width: 250px;
        margin-bottom: 10px;
    }
}
@media all and (max-width: 1024px){
    .contact-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .abilities-content{
        max-width: 390px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .about-me{
        grid-template-areas: unset;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
        width: 70%;
        /* text-align: center; */
    }
    .left{
        grid-area: unset;
    }
    .center{
        grid-area: unset;
    }
    .right{
        grid-area: unset;
        margin-left: 20px;
        text-align: center;
    }
    .buy-bear{
        grid-area: unset;
        text-align: center;
    }
    .left p, .about-right-p{
        width: 250px;
        margin-bottom: 10px;
        text-align: center;
    }
    #st-1{
        text-align: center;
    }
    #aboutlefth1{
        text-align: center;
    }
    .projects-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .projects{
        grid-template-columns: 1fr;
    }
}
@media all and (max-width:1275px){
    .nav-bar-wrapper-fixed{
        right: 2%;
    }
    .nav-bar-wrapper{
        right: 2%;
    }
    .scroll-down{
        right: 2%;
    }
}
@media all and (max-width:995px){
    .profile-content{
        max-width: 390px;
        padding: 40px 0px;
    }
    .projects-content{
        max-width: 390px;
    }
    .contact-content{
        max-width: 390px;
    }
    .abilities-content{
        max-width: 390px;
    }

}
@media all and (max-width: 640px){
    .scroll-down{
        width: 100%;
        bottom: 0;
        right: 0;
        height: 50px;
    }
    .nav-bar-wrapper{
        width: 100%;
        height: auto;
        right: 0;
    }
    .nav-bar-wrapper-fixed{
        top: 0;
        transform: translateY(0);
        right: 0;
    }
    .nav-links{
        height: 160px;
        display: none;
    }
    .hamburger-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .hamburger-menu i {
        font-size: 30px;
        color: #ffffff;
    }
}

@media all and (max-width: 450px) {
    .project img{
        width: 250px;
        height: 150px;
    }
    figcaption{
        width: 250px;
    }
}